.containar{
 font-size: 2rem;
 background-color: #c3c3c3;
 color: white;
  height: 150px;
   max-width: 800px;
   border:2px solid black;
   display: flex;
  flex-wrap: wrap;
 justify-content:space-evenly;
  
}

.one{
   
    background-color: hwb(0 33% 6%);
    padding: 10px;
  flex-grow: 2;
}
.two{
    padding: 10px;
  
    background-color: #75c875;
    
}
.three{
    
    background-color: #b069ce;
    padding: 10px;
}
.four{
    padding: 10px;
   
    background-color: #d97cc5;
}
.five {
    padding: 10px;

    background-color:chocolate;
}
.six {
    padding: 10px;
    
    background-color:aqua;
}
.seven {
    padding: 10px;
    margin: 4px;
    background-color:#75c875;
}
.eight {
    padding: 10px;
    background-color:brown;
}